#dropContainer {
	background-color: transparent;
	height: 736px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 414px;
	z-index: 1;
}

#dropContainer div {
	height: 12px;
	position: absolute;
	-webkit-animation-direction: normal, normal;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-timing-function: ease-in, linear;
	width: 6px;
}

#dropContainer div img {
	height: 12px;
	position: absolute;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-origin: 50% -100%;
	width: 6px;
}

@-webkit-keyframes drop {
	0% {
		-webkit-transform: translate(0px, -50px);
	}
	100% {
		-webkit-transform: translate(0px, 600px);
	}
}